@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* 字体设置 */
body {
    font-family: 'Inter', sans-serif;
}

/* 网站截图样式 */
.screenshot-img {
    aspect-ratio: 16 / 10;
    object-fit: cover;
    object-position: top;
}

/* 拉伸链接 */
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}